@import "./flexoki.css";
@import "./fonts.css";

body {
  background-color: var(--flexoki-50);
}

.top_header {
  font-family: "BIZ UDPMincho", serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: var(--flexoki-blue-100);
}

.top_header .header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2em;
  min-height: 5em;
  background-color: var(--flexoki-green-500);
}
.top_header .header_menu .top_title {
  font-size: 1.2em;
  color: var(--flexoki-paper);
}
.top_header .header_menu .header_menu_g　{
  margin: 0 auto;
  height: 100%;
  width: 45em;
  min-height: 5em;
}
.top_header .header_menu .header_menu_lists {
  display: flex;
  height: 100%;
  list-style: none;
  padding-left: 0;
}
.top_header .header_menu .header_menu_li {
  position: relative;
  height: 100%;
  min-height: 3em;
  width: 33.33%;
  background-color: var(--flexoki-green-700);
  transition: all .3s;
}
.top_header .header_menu .header_menu_li:hover {
  background-color: var(--flexoki-green-500);
}
.top_header .header_menu .header_menu_li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--flexoki-paper);
  transition: all .3s;
}
.top_header .header_menu .header_menu_li:hover a {
  color: var(--flexoki-paper);
}

.top_header .header_menu .dropdown_lists {
  display: none;
  width: 100%;
  position: absolute;
  top: 3em;
  left: 0;
  list-style: none;
  padding-left: 0;
}

.top_header .header_menu .header_menu_li:hover .dropdown_lists {
  display: block;
}

.top_header .header_menu .dropdown_li {
  background-color: var(--flexoki-green-500);
  transition: all .3s;
  position: relative;
}

.top_header .header_menu .dropdown_li:hover {
  background-color: var(--flexoki-green-700);
}

.top_header .header_menu .dropdown_li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.top_header .header_menu .dropdown_li:hover a {}

.top_header .header_hero {
  height: 40em;
  width: 100%;
}

.top_header .header_hero .hero_media {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow-y: auto;
}

.top_header .header_hero .hero_media .hero_media_item {
  height: 45%;
}
.top_header .header_hero .hero_media .hero_media_item.hero_media_top_item {
  height: 80%;
}
.top_header .header_hero .hero_media .hero_media_item iframe, .top_header .header_hero .hero_media .hero_media_item img {
  height: 100%;
}
.top_header .header_hero .hero_media .hero_media_item iframe {
  aspect-ratio: 4 / 3;
}

.top_entries_area {
  margin: 0;
  min-height: 50vh;
  
}

.top_entries_area .top_entry {
  width: 70%;
  margin: 2em auto 0;
  line-height: 1.65;
  letter-spacing: 0.05em;
  padding: .5em 4.75em .5em;
  font-size: 1.12em;
  background-color: var(--flexoki-blue-100);
  border-radius: 1.5em;
}

.top_entries_area .top_entry li .label, .top_entries_area .top_entry p .label {
  font-weight: bold;
}
.top_entries_area .top_entry li .date, .top_entries_area .top_entry p .date {
  font-weight: bolder;
  font-size: 1.4em;
}
.top_entries_area .top_entry li .time, .top_entries_area .top_entry p .time {
  font-weight: bold;
  font-size: 1.2em;
}
.top_entries_area .top_entry li .place, .top_entries_area .top_entry p .place {
  font-weight: bold;
  font-size: 1.13em;
}
.top_entries_area .top_entry ul .note, .base .top_entry p .note {
  font-weight: bold;
}

.top_entries_area .top_entry ul .quot, .top_entries_area .top_entry p .quot {
  color: var(--flexoki-400);
  font-style: oblique;
  font-family: "BIZ UDPMincho", serif;
}
.top_entries_area .top_entry ul .count, .top_entries_area .top_entry p .count {
  font-size: 1.1em;
  font-style: oblique;
}
.top_entries_area .top_entry ul .enhanced, .top_entries_area .top_entry p .enhanced {
  font-size: 1.3em;
  color: var(--flexoki-purple-600);
}

.top_entries_area .top_entry ul .creator .top_entries_area .top_entry p .creator {
  font-weight: bold;
}

.top_entries_area .top_entry a {
  color: var(--content-text-color);
  text-decoration: underline dashed var(--content-link-hl-color);
}
.top_entries_area .top_entry a.hl {
  color: var(--content-link-hl-color);
}
.top_entries_area .top_entry a.tweet {
  color: var(--twitter);
  text-decoration: none;
  font-weight: bold;
  border-radius: .65em;
  background-color: var(--flexoki-paper);
  padding: .3em;
  text-decoration: none;
  border-color: var(--twitter);
  margin: .4em;
}
.top_entries_area .top_entry a.twihash {
  color: var(--twitter);
  text-decoration: none;
  font-weight: bold;
}
.top_entries_area .top_entry a.tweet img {
  display: inline;
  width: 1.14em;
  margin: 0;
  padding: .3em;
  vertical-align: middle;
}